*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(22, 20, 20), rgb(35, 34, 34));
}

nav{
    background: black;
    padding: 30px;
    width: 100%;
}

nav label{
    color: white;
    margin: 0 90px;
    font-size: 30px;
    font-weight: bold;
}
nav label span{
    color: #7221F7;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}
nav li a{
    color: white;
}
a.active, a:hover{
    background: rgb(52, 255, 130);
    transition: .3s;
    padding: 10px;
    border-radius: 3px;
}
.home{
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
}
.home.active, .home:hover{
    background: #7221F7;
    color: white;
    transition: .3s;
    padding: 10px;
    border-radius: 3px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.box{
    margin-right: 100px;
    margin-left: 100px;
}
.box h3{
    margin-top: 3px;
    font-size: 25px;
    color: rgb(245, 245, 245);
}
.box h2{
    margin-top: 3px;
    font-size: 35px;
    color: #7221F7;
}
.box p{
    margin-top: 3px;
    font-size: 19px;
    color: white;
}
.box a{
    font-size: 17px;
    margin-top: 10px;
    background: #7221F7;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.box a.active, .box a:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.box-image{
    margin-right: 150px;
    transform: translateY(50px);
}
.box-image h3{
    background: #7221F7;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
.box-image h2{
    margin-top: 3px;
    color: white;
}
.box-image p{
    margin-top: 3px;
}

.about{
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .sm{   
    background: #7221F7;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.about-content{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-me{
    margin-right: 30px;
    font-size: 19px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}
.about-me-right{
    font-size: 19px;
    transform: translateY(100px);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 30px;
    text-align: center;
}
.about2{
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about2 .sm{   
    background: #7221F7;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.about-content2{
    display: grid;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.about-me2{
    margin: 10px;
    font-size: 15px;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}

.about4{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about4 .sm{   
    background: rgba(29, 234, 83, 0.711);
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.page4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.box4{
    margin-right: 150px;
    color: white;
    padding-left: 90px;
}
.box4 h3{
    font-size: 19px;
}
.box4 p{
    margin-top: 10px;
}
.box5{
    margin-right: 150px;
    color: white;
}
.box5 h3{
    font-size: 19px;
}
.box5 p{
    margin-top: 10px;
}
.box5 a{
    color: rgb(46, 241, 120);
}
.box a.active, a:hover{
    background: none;
}
.contact{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .sm{   
    background: #7221F7;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.box7{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: black;
    padding: 15px;
}
.bar{
    color: white;
    font-size: 10px;
}
.box7 .social{
    background: rgb(231, 216, 216);
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7 a{
    color: black;
}
.box7 img{
    width: 30px;
    margin-right: 5px;
}
.bar span{
    color: #7221F7;
}
.box7 .sw{
    cursor: auto;
}
